// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html {
    background-color: #F0F0F0;
}

#content {
    margin-top: 1em;
    background: white;
    padding: 1.5em;
    border-radius: 5px;
}

.hidden {
    display: none;
}